.modal-content {
    border-radius: 0px;
}

.modal-previsao-manutencao {
    min-width: 80%;
}

.grid-cadastro-manutencao {
    border-left: 1px solid #ddd;
    padding-bottom: 10px;
}

.title-grid {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.grid-cadastro-manutencao textarea {
    height: 80px;
}

.list-manutencao {
    border-top: 1px solid #dddd;
    padding-top: 10px;
}