.bgentry {
    /* background: url("file:///src/img/entry-bg.jpg") fixed no-repeat bottom center; */
    background: url("../img/entry-bg.jpg") fixed no-repeat bottom center;
    background-size: cover;
    /* background: #EFF2F7; */
    min-height: 100vh;
}

@media (max-width: 991px) {
    .wrapper {
        background-color: #ffffff00;
    }
}

.full-page>.content:first-of-type {
    padding-top: 2vh;
}

.full-page:before {
    opacity: .6;
    background: #3e3e3e;
}

.nav-text .nav-item .nav-link, .nav-icons .nav-item .nav-link {
    color: #ffffff;
    font-variant: small-caps;
}

.nav-text .nav-item .nav-link.active, .nav-text .nav-item.active .nav-link, .nav-icons .nav-item .nav-link.active, .nav-icons .nav-item.active .nav-link {
    color: #ffca00;
    font-variant: small-caps;
}

.form-check .form-check-sign::after {
    color: #797876;
}

.form-check {
    padding-left: 0.2rem;
}

.cursive {
    font-family: 'Patrick Hand', cursive !important;
}

.card {
    border: 1.5px solid #6f6f6f;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(46, 45, 46, 1);
    -moz-box-shadow: 0px 0px 14px -4px rgba(46, 45, 46, 1);
    box-shadow: 0px 0px 14px -4px rgba(46, 45, 46, 1);
}

.card .card-header {
    background-color: #ffffff00;
}

.footer img {
    height: 55px;
}

.footer {
    height: 100%;
    border-top: 5px solid orange;
    background: white;
    min-height: 7vh;
}

.form-control, .form-control:focus {
    border-width: 2px;
}

img.menu-icon {
    margin-right: 15px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.content {
    display: none;
}

.preload {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.sidebar .user {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* margin-top: 0px; */
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    background: #6c7280;
    padding-left: 10px;
}

.sidebar .user .info .caret {
    right: 0px;
}

.user .info span {
    font-size: 14px;
    font-weight: 500;
}

.profile-dropdown span {
    font-family: "Roboto Condensed", "Roboto";
}

.card-report {
    box-shadow: none;
    border: none;
}

#menuRelatorio a {
    font-size: 14px;
    height: 45px;
}

.ct-series .ct-bar {
    stroke-width: 40px;
}
.ct-color-a {
    color: #1DC7EA;
}

.ct-color-b {
    color: #FB404B;
}


.ct-color-c {
    color: #FFA534;
}
.ct-color-d {
    color: #9368E9;
}
.ct-color-e {
    color: #87CB16;
}

.ct-color-f {
    color: #1F77D0;
}
.ct-color-g {
    color: #5e5e5e;
}

.ct-color-h {
    color: #dd4b39;
}

.ct-color-i {
    color: #35465c;
}

.ct-color-j {
    color: #e52d27;
}


.ct-color-k {
    color: #55acee;
}

.ct-color-l {
    color: #cc2127;
}

.ct-color-m {
    color: #1769ff;
}

.ct-color-n {
    color: #6188e2;
}

.ct-color-o {
    color: #a748ca;
}

div#legendPlace {
    font-size: 14px;
    text-align: center;
}

div#legendPlace span {
    padding-right: 20px;
    font-size: 12px;
}

.card-title-relatorio {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.totalChart {
    text-align: center;
    background: #1DC7EA;
    margin-left: 85px;
    margin-right: 85px;
    border: #1DC7EA;
    border-style: solid;
    height: 300px;
    border-radius: 50%;
    padding-top: 90px;
}

.totalChart span {
    vertical-align: middle;
    font-size: 65px;
    color: white;
    font-weight: bold;
}


.card .datatable-relatorio tbody td:last-child, 
.card .datatable-relatorio thead th:last-child {
    min-width: 100px;
}

.datatable-relatorio a {
    padding: 5px;
    padding-top: 10px;
    vertical-align: middle;
}
 
span.ct-label.ct-horizontal.ct-end {
    font-size: 12px !important;
}

i.tab-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-right: 10px;
}

.obr .form-check-label {
    text-transform: none;
}

.btn.disabled {
    border: none !important;
}

.addOS, .single-page-table .dataTables_filter {
    float: right !important;
}

.single-page-table div#datatables_length {
    float: left;
}

.commentArea {
    height: 100px;
}

.sidebar:before {
    opacity: .7;
    background: #414550;;
}

.card-wizard .nav-tabs {
    margin-left: -13px;
}

.camadasMapaDashboard span {
    font-weight: bold;
    font-size: 1.5em;
    font-variant: small-caps;
}

.camadasMapaDashboard .ol-layerswitcher {
    max-height: 555px;
    height: 555px;
}

.camadasMapaDashboard .ol-layerswitcher .panel li label {
    font-size: 14px;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-variant: small-caps;
}

.camadasMapaDashboard li.visible.ol-layer-group {
    border-bottom-color: orange !important;
    border-bottom-style: solid !important;
    border-width: 2px !important;
    margin-bottom: 10px;
}

.camadasMapaDashboard .ol-layerswitcher .panel li label {
    font-size: 10px;
}

.camadasMapaDashboard .ol-layerswitcher [type="radio"] + label:before, 
.camadasMapaDashboard .ol-layerswitcher [type="checkbox"] + label:before, 
.camadasMapaDashboard .ol-layerswitcher [type="radio"]:checked + label:after, 
.camadasMapaDashboard .ol-layerswitcher [type="checkbox"]:checked + label:after {
    margin-top: 4px;
}

.camadasMapaDashboard .ol-layerswitcher .panel li label {
    height: 2em;
}

.ol-layerswitcher [type="radio"]:checked + label:after {
    margin-top: 7px !important;
}

.ol-layer-vector .li-content {
    width: 70%;
}

.camadasMapaDashboard .ol-layerswitcher .panel li label {
    display: inline;
    padding-left: 20px;
    padding-top: 12px;
}

.btn-custom-popup {
    border: 0px;
    vertical-align: top;
    margin-left: 1em;
}

.btn-custom-popup .fa {
    font-size: 1.5em;
    vertical-align: middle;
}