.bgentry {
    /* background: url("file:///src/img/entry-bg.jpg") fixed no-repeat bottom center; */
    /*    background: url("../img/entry-bg.jpg") fixed no-repeat bottom center; */
    background-size: cover;
    background: #EFF2F7;
    min-height: 100vh;
}

@media (max-width: 991px) {
    .wrapper {
        background-color: #ffffff00;
    }
}

.full-page>.content:first-of-type {
    padding-top: 2vh;
}

.full-page:before {
    opacity: .6;
    background: #3e3e3e;
}

.nav-text .nav-item .nav-link, .nav-icons .nav-item .nav-link {
    color: #ffffff;
    font-variant: small-caps;
}

.nav-text .nav-item .nav-link.active, .nav-text .nav-item.active .nav-link, .nav-icons .nav-item .nav-link.active, .nav-icons .nav-item.active .nav-link {
    color: #ffca00;
    font-variant: small-caps;
}

.form-check .form-check-sign::after {
    color: #797876;
}

.form-check {
    padding-left: 0.2rem;
}

.cursive {
    font-family: 'Patrick Hand', cursive !important;
}

.card {
    border: 1.5px solid #6f6f6f;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(46, 45, 46, 1);
    -moz-box-shadow: 0px 0px 14px -4px rgba(46, 45, 46, 1);
    box-shadow: 0px 0px 14px -4px rgba(46, 45, 46, 1);
}

.card .card-header {
    background-color: #ffffff00;
}

.footer img {
    height: 55px;
}

.footer {
    height: 100%;
    border-top: 5px solid orange
}

.form-control, .form-control:focus {
    border-width: 2px;
}

img.menu-icon {
    margin-right: 15px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.content {
    display: none;
}

.preload {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}