html {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.sidebar li.nav-item {
    border: 1.5px solid #414550;
    border-collapse: collapse;
    color: white;
}

.sidebar, .sidebar-wrapper {
    background: #414550;
}


.sidebar .nav .nav-item .nav-link {
    padding: 10px;
    margin: 0px;
    font-size: 1.1em;
}


span.sidebar-normal {
    font-size: 0.8em;
}

.navbar-header {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 2px;
}

#logo {
    width: 200px;
    height: 75px;
    border: 0px solid #676A73;
    border-radius: 10px;
    background-color: #676A73;
}

img.menu-icon {
    margin-left: 22px;
}

span.sidebar-mini {
    margin-left: 20px;
}

b.caret {
    margin-right: 20px;
}

* {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.sidebar li.nav-item {
    border: 1.5px solid #414550;
    border-collapse: collapse;
    background-color: #464a56;
    color: white;
}

.sidebar-wrapper {
    background: #414550;
}


.sidebar .nav .nav-item .nav-link {
    padding: 10px;
    margin: 0px;
    font-size: 1.1em;
    /* border-radius: 0px; */
}


span.sidebar-normal {
    font-size: 0.8em;
}

.navbar-header {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 2px;
}

#logo {
    width: 200px;
    height: 75px;
    border: 0px solid #676A73;
    border-radius: 10px;
    background-color: #676A73;
}

img.menu-icon {
    margin-left: 22px;
    height: 28px;
}

span.sidebar-mini {
    margin-left: 20px;
}

b.caret {
    margin-right: 20px;
}

.sidebar-wrapper {
    width: 270px !important;
}

div#sidebar {
    width: 270px;
    min-width: 270px;
}

.sidebar-wrapper {
    width: 270px;
}

.sidebar-wrapper {
    width: 270px !important;
}

div#sidebar {
    width: 270px;
    min-width: 270px;
}

.sidebar-wrapper {
    width: 270px;
}

.sidebar .nav .nav-item .nav-link:hover {
    background: #576071;
}

.sidebar .nav .nav-item a[aria-expanded="true"] {
  background-color: #576071;
} 

.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item .nav-link:hover {
    border: none;
    border-right: white;
    border-right-style: solid;
    border-width: 5px;
}

.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item .nav-link {
    font-size: 1em;
    font-family: "Roboto Condensed";
}

/* img#pageIcon {
    margin-top: -10px;
} */

p.pageTitle {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-variant: small-caps;
    font-weight: 500;
}

h4.card-titlev2 {
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    line-height: 16px;
    display: flex;
}

.card-atalho {
    border: 2px solid #D0D0D0;
    box-shadow: 0px 1px 4px #E5E9F2;
    border-radius: 10px;
}

.card-atalho .card-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nopadding {
    padding: 0px;
}

.card-atalho a {
    color: rgb(33, 37, 41);
}

.card.card-stats.card-atalho:hover {
    border: 2px solid #545454;
    box-shadow: 0px 4px 20px #c3c3c3;
}

p.card-category.atalho-title {
    font-size: 16px;color: rgb(33, 37, 41);
}
p.card-category.atalho-title {font-size: 16px;color: rgb(33, 37, 41);}


.card.card-stats.card-rapid {
    border-radius: 10pt;
}

h4.card-title.card-title-atalho {
    font-size: 32px;
    font-weight: 700;
}

.sidebar .show li.nav-item {
    background-color: #7f8592;
    font-weight: bold;
    font-size: 13pt;
}

.sidebar li.nav-item {
    font-size: 13pt;
}

.sidebar .show li.nav-item:first-child {
    margin-top: 3px;
}

.sidebar li.nav-item:first-child {
    margin-top: 3px;
}

.svg-icon {
    height: 48px;
}

.card.card-stats.card-rapid {
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    min-width: 180px;
    width: 60%;
    border: 2px solid #D0D0D0;
    box-shadow: 0px 1px 4px #E5E9F2;
}

.card.card-stats.card-rapid:hover {
    border: 2px solid #545454;
    box-shadow: 0px 4px 20px #c3c3c3;
}

.control-label.inline-label {
    padding-top: 10px !important;
}

.has-success .form-control:focus {
    border-top-color: #E3E3E3;
    border-left-color: #E3E3E3;
    border-right-color: #E3E3E3;
}

.form-control:focus {
    border-top-color: #E3E3E3;
    border-left-color: #E3E3E3;
    border-right-color: #E3E3E3;
    border-bottom-color: #9B9B9B;
}

button.btn.btn-default.btn-wd.btn-back.pull-left.disabled {
    border-width: 0px;
}

div#content {
    background: #eff2f78c;
    /* #e8e8e8b8 */
    min-height: 93vh;
}

.card-wizard .nav-tabs .nav-item .nav-link {
    vertical-align: middle;
    background: #E5E5E5;
    border-top-color: #7A7A7A;
    border-top-style: solid;
    border-top-width: 3px;
    color: #808590;
    height: 95px;
    padding-top: 20px;
    font-size: 17px;
}

.card-wizard .nav-tabs .nav-item .nav-link.active {
    background: #ffffff;
    border-top-color: #f1ce33;
    border-top-style: solid;
    border-top-width: 3px;
    color: #2A2D33;
}

.card.card-wizard.wiz-fixes {
    box-shadow: none;
    /* border: none; */
    border-radius: 20px;
    border-color: #adadad;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.wiz-fixes .card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 16px;
}

.wiz-fixes .card-body .nav {
    margin-top: 0px;
}

.wiz-fixes .tab-content {
    padding-left: 20px;
    padding-right: 20px;
}

img.wiz-icon {
    height: 50px;
    filter: invert(0.7);
    padding-right: 20px;
}

.card-wizard .nav-tabs .nav-item .nav-link.active .wiz-icon {
    filter: invert(0);
}

.control-label b {
    font-weight: 600;
    font-size: 14px;
    color: #7b7b7b;
}

.latlon-label b {
    font-weight: 600;
    font-size: 13px;
    color: #7b7b7b;
}


.mapawiz {
    margin-left: 15px;
    margin-right: 15px;
    border: #e0dfdf;
    border-style: solid;
    border-width: 5px;
    padding: 0px;
}

.tab-wiz .form-group {
    background: #f3f3f3;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}


.tab-wiz .form-group {
    background: #fbfbfb;
    border-style: solid;
    border-color: #f9f9f9;
}

.form-group.obr {
    background: #efefef;
    border-color: #ece6e6;
}

.form-check.form-check-radio {
    margin-top: 10px;
}

.card .card-body .control-label {
    color: #66696f;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 500;
}

img#pageIcon {
    max-width: 50px;
    max-height: 50px;
}

.form-check.form-check-radio {
    display: inline-block;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
    padding-top: 0px !important;
    /* margin-top: -26px !important; */
    color: #485f8e;
}

.tab-2-fix, .tab-3-fix {
    padding-left: 0px;
    padding-right: 0px;
}

.tab-3-fix a {
    font-size: 12px
}

.tab-3-fix img.wiz-icon {
    height: 40px;
}

.input-group-append {
    background-color: #E3E3E3;
    color: #9c9c9c;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition: all 300ms linear;
    border-bottom-color: #E3E3E3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.form-control:focus + .input-group-append {
    background: #dcdcdc;
    border-bottom-color: #9B9B9B;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

span.input-group-text {
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Colocar input errado da cor vermelha */
.form-group.has-error {
    background: #ffe4e4;
    border-width: 4px;
    border-style: solid;
    border-color: #f5c7c7;
}

.has-success .has-error .form-control {
    color: #565656;
}

.has-success:focus .has-error .form-control {
    color: #87CB16;
}

.has-success .has-error .form-control:focus {
    border-color: #87CB16;
}

/* Disable text dragging */
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

/* Sidebar Rota */
#sidebar-RotasGeradas ul {
    list-style-type: none;
    padding-inline-start: 10px;
    padding-inline-end: 0px;
    padding: 2px;

}

#sidebar-RotasGeradas li {
    padding-inline-start:0px;
    margin-left: 10px;
    border-top: #e4e4e4;
    padding-top: 3px;
    border-top-style: solid;
    border-top-width: 2px;
}

#sidebar-RotasGeradas > ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    background: whitesmoke;
    border-style: solid;
    border-color: #b0b2b5;
    padding: 2px;
}

#sidebar-RotasGeradas > ul > li {
    list-style-type: none;
    border: none;
    padding: 2px;
}


#sidebar-RotasGeradas input[type=checkbox], input[type=radio] {
    padding: 20px;
}

#sidebar-RotasGeradas label {
    margin-left: 5px;
    color: #423e3e;
    vertical-align: text-top;
}

.layerswitcher-opacity {
    display: none;
}

span.corRota {
    height: 0.7em;
    width: 20px !important;
    padding: 2px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}

li.ol-header {
    display: none !important;
}

.ol-layerswitcher {
    background: whitesmoke;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: #c7c8ca;
    border-style: solid;
}

.ol-layer-group {
    border: none !important;
}

.ol-layerswitcher {
    overflow-y: scroll;
    max-height: 355px;
}

/* File-input */
.file-input {
    margin-left: 10px;
    font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

.alert span {
    font-size: 1em;
    font-weight: normal;
}

.alert-warning span a {
    color: white;
    font-weight: 700;
    font-size: 1em;
}

.form-group .col-10 {
    margin-top: auto;
    margin-bottom: auto;
}

.form-group .col-9 {
    margin-top: auto;
    margin-bottom: auto;
}

.form-group .col-8 {
    margin-top: auto;
    margin-bottom: auto;
}

label.form-check-label.from-check-inline {
    font-size: 14px;
    font-weight: 450;
}


label.form-check-label {
    font-size: 14px;
    font-weight: 450;
}

.hint {
    font-size: 12px;
    color: #aba5a5;
    font-style: italic;
}

/* Mapa */
.ol-layerswitcher-image li:hover p {
    font-weight: 600;
    font-size: 10px;
    padding-bottom: 2px;
    font-family: Roboto;
}

li.ol-imgcontainer.select.ol-layer-hidden {
    font-size: 12px;
}

.ol-attribution button, .ol-attribution ul {
    font-size: 10px;
}

.ol-attribution li {
    font-size: 10px;
    color: #635a5a;
}

a.ol-attribution-bing-tos {
    font-size: 10px;
    font-weight: 500;
}

.ol-attribution li a {
    font-size: 10px;
    font-weight: bold;
}

li.ol-imgcontainer.select.ol-layer-hidden {
    border: 3px solid red;
}

li.ol-imgcontainer.ol-layer-hidden {
    opacity: .7;
}

.ol-layerswitcher-image.ol-unselectable.ol-control.ol-collapsed {
    top: 320px !important;
}

.ol-layerswitcher-image.ol-unselectable.ol-control {
    top: 280px;
}

span.gcd-road {

    font-size: 11px;
    line-height: 1px;
    font-weight: 400;
}

.ol-geocoder ul.gcd-gl-result {
    /* border-radius: 50px; */
    left: 2.2rem;
    border: #ffffffa8;
    border-style: solid;
    max-height: 250px;
}

.ol-geocoder ul.gcd-gl-result>li>a {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2;
}

.ol-geocoder ul.gcd-gl-result>li:nth-child(odd) {
    background-color: #eaeff7;
}

.card.data-tables {
    box-shadow: none;
    border-radius: 20px;
    border-color: #adadad;
    padding-top: 10px;
    padding-bottom: 10px;
}

select.custom-select.custom-select-sm.form-control.form-control-sm {
    height: 35px;
}

.card .table tbody td {
    font-weight: 350;
    font-size: 1em;
}

table.dataTable tbody th,
table.dataTable tbody td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.dataTable thead tr th {
    font-weight: bold;
    font-size: 12px;
    border: #8a99a7 !important;
    border-bottom-style: solid !important;
    border-width: 4px !important;
    min-height: 40px !important;
    vertical-align: middle;
}

div.dataTables_info {
    font-size: 12px;
    font-weight: 300;
}

.detalheTitulo {
    font-size: 20px !important;
}


td.text-right.detalheChave {
    width: 25%;
}

td.text-left.detalheValor {
    font-weight: 500 !important;
}

.detalheToolBar {
    text-align: center;
}

.btnExcel {
    background: #43AA8B;
    border: none;
}

.btnExcel:hover {
    background: #457b6b;
}

.btnSalvar, .btnSalvar:focus {
    background: #43AA8B;
    border: none;
    width: 200px;
    font-weight: 500;
    font-size: 14px;
}

.btnSalvar:hover, .btnSalvar:active {
    background: #457b6b;
}

.btnCancelar, .btnCancelar:focus {
    background: #ED2E3B;
    border: none;
    font-weight: 500;
    font-size: 14px;
    width: 200px;
}

.btnCancelar:hover, .btnCancelar:active {
    background: #b5555c;
}



.detalheToolBar button {
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btnMoficar, .btnMoficar:focus {
    background: #FAB24F;
    border: none;
}

.btnApagar, .btnApagar:focus {
    background: #ED2E3B;
    border: none;
}

.detalheToolBar button span, .card .card-footer .btn {
    font-weight: 500;
    font-size: 14px;
}

.btnMoficar:hover, .btnMoficar:active {
    background: #ea951f;
}

.btnApagar:hover, .btnApagar:active {
    background: #b5555c;
}

.btnImprimir, .btnImprimir:focus {
    background: #25A4EC;
    border: none;
}

.btnImprimir:hover, .btnImprimir:active {
    background: #277aa9;
}

.card .dataTable tbody td:last-child,
.card .dataTable thead th:last-child {
    /* padding-right: 15px; */
    /* display: table-cell; */
    min-width: 150px;
    text-align: center;
}

th.disabled-sorting.text-center.sorting_disabled {
    display: table-cell !important;
}

.dataTables_wrapper .pagination .paginate_button.page-item.first .page-link,
.dataTables_wrapper .pagination .paginate_button.page-item.previous .page-link,
.dataTables_wrapper .pagination .paginate_button.page-item.next .page-link,
.dataTables_wrapper .pagination .paginate_button.page-item.last .page-link {
    border-radius: 25px;
}

div#swal2-content {
    font-size: 14px;
}
.dual-list {
    height: 200px;
}

.dual-list option {
    font-size: 14px;
}

.tituloSecao span {
    font-size: 16px;
}

.tituloSecao {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #889aad;
    margin-top: 0px;
}

ul.singletab {
    margin-bottom: 0px !important;
}

h3.listaSelect {
    font-size: 16px;
    font-weight: 400;
}

.ul-dica {
    color: #538ca9;
}

.ul-dica li {
    font-size: 12px;
    text-transform: uppercase;
}

.ul-dica .fa-li {
    font-size: 12px;
    color: #ecac2e;
    margin: -2px;
}

.ul-dica i {
    font-size: 12px;
}

.badge-total {
    vertical-align: text-top;
}

select option {
    font-size: 14px;
}

.optlabel {
    display: -webkit-box;
    font-size: 14px;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-variant: all-petite-caps;
    color: #9e9e9e;
    width: 64px;
    height: 42px;
    padding-left: 7px;
}

.obrlabel {
    display: -webkit-box;
    font-size: 14px;
    font-weight: bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    font-variant: all-petite-caps;
    color: #9e9e9e;
}


.form-group.has-error .error {
    margin-top: 20px;
    padding-right: 20px;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
}

.logoimg img {
    width: 150px;
}

.logoimg {
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
}

.filterlabel {
    padding-left: 20px;
}

.activeLink {
    background: #ecb24a !important;
}

.activeLink span {
    font-weight: 600;
}

.pageDoubleTitle {
    margin-right: 20px;
}

.placa {
    text-transform:uppercase;
}

.totalText {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #e49824;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.3em;
    font-family: "Roboto Condensed";
}


.bootstrap-select button {
    background-color: #FFFFFF;
    border: 2px solid #E3E3E3;
    color: #565656;
    line-height: 1em;
    height: 42px;
}


.bootstrap-select span {
    font-size: 14px;
}

span.nc-icon.nc-check-2.check-mark {
    font-size: 16px;
}

.tituloCampo {
    color: #66696f;
    padding-top: 14px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}

img.ctrlIcon {
    max-width: 18px;
    max-height: 18px;
}

.toolExample {
    position: inherit;
}

.row.toolItem {
    vertical-align: middle;
}

.dica span {
    font-size: 12px;
    font-family: "Roboto Condensed"
}

.dica {
    margin-top: 2px;
    margin-left: 4px;
}

.tab-3-fix a.nav-link {
    font-size: 13px !important;
    font-family: "Roboto Condensed";
    padding-top: 15px !important;
    min-height: 20px !important;
}

.card-wizard .nav-tabs .tab-3-fix .nav-link {
    height: 80px;
}

div#datatables_length {
    float: left;
}

.datatable-relatorio div#datatables_length {
    float: none;
    text-align: center;
    margin: 20px;
}

.datatable-relatorio ul.pagination {
    float: right;
}

div#datatables_filter {
    margin-bottom: 20px;
}

.filterDiv {
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-color: #e49824;
    margin-bottom: 50px;
}

#menuRelatorio .list-group-item.active {
    background: #1bafce;
    border: #1bafce;
    font-weight: 600;
}

#pbar {
    height: 100%;
    padding: 2px;
    font-size: 1em;
}

img#censoIcon {
    max-height: 60px;
}


.badge-censo {
    color: white;
}

.btn-back {
    margin-left: 20px;
}

.btnApagar {
    height: 38px;
}

.passo {
    background: #ff8e19;
    text-align: center;
    padding: 20px;
}

.passo span {
    font-weight: bold;
}


.passoDesc p, .passoDesc a {
    font-size: 0.85em;
}


.passoDesc h5 {
    font-weight: bold;
    font-size: 1em;
}

li.media {
    margin-top: 20px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    background: #ffbc31ed;
}
 
::-webkit-scrollbar-track {
   background: #6b6b6b;
}
 
::-webkit-scrollbar-thumb {
    background: #ffaa00ed;
}

ul#list-menus-navs {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

ul#list-menus-navs li{
    width: 25% !important;
}

ul#list-menus-navs li a span {
    font-size: 13px !important;
}

ul#list-menus-navs li a i {
    font-size: 34px !important;
    height: auto !important;
}

ul#list-menus-navs li a {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px !important;
}