.card-wizard .nav-tabs .nav-item .nav-link.active {
    background-color: #ffa534;
}

.card-wizard .nav-tabs {
    margin-left: -14px;
}

.tbl-col-lg {
    width: 40%;
}

.tbl-add-rm {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.from-check, .form-check-radio {
    margin-bottom: 0px;
}

hr.hr-form {
    border-top: 2px solid rgba(0,0,0,.1);
    width: 90%;
    border-style: dotted;
    padding: 5px;
}

small > img {
    width: 15px;
    vertical-align: top;
}

button.btn.btn-default.btn-wd.btn-back.pull-left.disabled {
    border-width: 0px;
}

.entry-logo {
    width: 200px;
}

.nav-front i {
    font-size: 48px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    margin-right: 2px;
}

.nav-front a.active * {
    font-weight: 600;
    color: gold;
}


div.regadditionalinfo {
    text-align: right;
    
}

div.regadditionalinfo span {
    font-size: 14px;
    font-variant: all-petite-caps;
    
}


.reg-group {
    padding: 0px !important;
    margin: 0px !important;
}

.form-group.reg-group.has-error {
    text-align: center;
}