/* popup style */
.ol-popup
{	max-width:300px;
    min-width:100px;
    min-height:1em;
}
/* Image on popup */
.ol-popup img 
{	float: left;
    margin: 0 0.5em 0 0;
    max-width: 100px;
    max-height: 100px;
}
/* no image content tooltips */
.ol-popup.tooltips img
{	display:none;
}

/* Custom orange style (tips) */
.ol-popup.tips.orange
{	border-color:#da7;
    background-color:#eca;
}
.ol-popup.tips.orange .anchor::before
{	border-color: #da7 transparent;
}
.ol-popup-middle.tips.orange .anchor::before
{	border-color: transparent #da7;
}

/* orange style (default) */
.ol-popup.default.orange
{	border:4px solid #f96;
}
.ol-popup.default.orange .anchor {
    margin: -15px 18px;
}
.ol-popup.default.orange .anchor::after
{	margin: 6px /*border:4 +2 px */ -9px; 
}
.ol-popup-middle.default.orange .anchor::after
{	margin: -9px 6px /*border:4 +2 px */; 
}
.ol-popup.default.orange .anchor::before
{	border-color: #f96 transparent;
}
.ol-popup-middle.default.orange .anchor::before
{	border-color: transparent #da7;
}
.ol-popup.default.orange .closeBox
{	background-color: rgba(255, 153, 102, 0.7);
}
.ol-popup.default.orange .closeBox:hover
{	background-color: rgba(255, 153, 102, 1);
}

.ol-popupfeature h1 {
    font-size: 1.2em;
    text-align: center;
    margin: 15px;
    font-weight: 400;
}

.ol-popup .ol-popupfeature table td {
    font-size: 0.8em;
    padding: 5px;
}