html {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.sidebar li.nav-item {
    border: 1.5px solid #414550;
    border-collapse: collapse;
    color: white;
}

.sidebar, .sidebar-wrapper {
    background: #414550;
}


.sidebar .nav .nav-item .nav-link {
    padding: 10px;
    margin: 0px;
    font-size: 1.1em;
}


span.sidebar-normal {
    font-size: 0.8em;
}

.navbar-header {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 2px;
}

#logo {
    width: 200px;
    height: 75px;
    border: 0px solid #676A73;
    border-radius: 10px;
    background-color: #676A73;
}

img.menu-icon {
    margin-left: 22px;
}

span.sidebar-mini {
    margin-left: 20px;
}

b.caret {
    margin-right: 20px;
}* {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.sidebar li.nav-item {
    border: 1.5px solid #414550;
    border-collapse: collapse;
    background-color: #464a56;
    color: white;
}

.sidebar-wrapper {
    background: #414550;
}


.sidebar .nav .nav-item .nav-link {
    padding: 10px;
    margin: 0px;
    font-size: 1.1em;
    /* border-radius: 0px; */
}


span.sidebar-normal {
    font-size: 0.8em;
}

.navbar-header {
	text-align: center;
	margin-top: 7px;
	margin-bottom: 2px;
}

#logo {
    width: 200px;
    height: 75px;
    border: 0px solid #676A73;
    border-radius: 10px;
    background-color: #676A73;
}

img.menu-icon {
    margin-left: 22px;
    height: 28px;
}

span.sidebar-mini {
    margin-left: 20px;
}

b.caret {
    margin-right: 20px;
}

.sidebar-wrapper {
    width: 270px !important;
}

div#sidebar {
    width: 270px;
    min-width: 270px;
}

.sidebar-wrapper {
    width: 270px;
}

.sidebar-wrapper {
    width: 270px !important;
}

div#sidebar {
    width: 270px;
    min-width: 270px;
}

.sidebar-wrapper {
    width: 270px;
}

.sidebar .nav .nav-item .nav-link:hover {
    background: #576071;
}

.sidebar .nav .nav-item a[aria-expanded="true"] {
  background-color: #576071;
} 

.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item .nav-link:hover {
    border: none;
    border-right: white;
    border-right-style: solid;
    border-width: 5px;
}

.sidebar .sidebar-wrapper .nav .nav-item [data-toggle="collapse"]~div .nav .nav-item .nav-link {
    font-size: 1em;
    font-family: "Roboto Cn";
}

/* img#pageIcon {
    margin-top: -10px;
} */

p.pageTitle {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 32px;
    font-variant: small-caps;
    font-weight: 500;
}

h4.card-titlev2 {
    font-weight: normal;
    text-align: left;
    font-size: 15px;
    line-height: 16px;
    display: flex;
}

.card-atalho {
    border: 2px solid #D0D0D0;
    box-shadow: 0px 1px 4px #E5E9F2;
    border-radius: 10px;
}

.card-atalho .card-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nopadding {
    padding: 0px;
}

.card-atalho a {
    color: rgb(33, 37, 41);
}

.card.card-stats.card-atalho:hover {
    border: 2px solid #545454;
    box-shadow: 0px 4px 20px #c3c3c3;
}

p.card-category.atalho-title {
    font-size: 16px;color: rgb(33, 37, 41);
}
p.card-category.atalho-title {font-size: 16px;color: rgb(33, 37, 41);}


.card.card-stats.card-rapid {
    border-radius: 10pt;
}

h4.card-title.card-title-atalho {
    font-size: 32px;
    font-weight: 700;
}

.sidebar .show li.nav-item {
    background-color: #7f8592;
    font-weight: bold;
    font-size: 13pt;
}

.sidebar li.nav-item {
    font-size: 13pt;
}

.sidebar .show li.nav-item:first-child {
    margin-top: 3px;
}

.sidebar li.nav-item:first-child {
    margin-top: 3px;
}

.svg-icon {
    height: 48px;
}

.card.card-stats.card-rapid {
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    min-width: 180px;
    width: 60%;
    border: 2px solid #D0D0D0;
    box-shadow: 0px 1px 4px #E5E9F2;
}

.card.card-stats.card-rapid:hover {
    border: 2px solid #545454;
    box-shadow: 0px 4px 20px #c3c3c3;
}

.control-label.inline-label {
    padding-top: 10px !important;
}

.has-success .form-control:focus {
    border-top-color: #E3E3E3;
    border-left-color: #E3E3E3;
    border-right-color: #E3E3E3;
}

.form-control:focus {
    border-top-color: #E3E3E3;
    border-left-color: #E3E3E3;
    border-right-color: #E3E3E3;
    border-bottom-color: #9B9B9B;
}

button.btn.btn-default.btn-wd.btn-back.pull-left.disabled {
    border-width: 0px;
}

div#content {
    background: #EFF2F7;
}

.card-wizard .nav-tabs .nav-item .nav-link {
    vertical-align: middle;
    background: #E5E5E5;
    border-top-color: #7A7A7A;
    border-top-style: solid;
    border-top-width: 3px;
    color: #808590;
    height: 95px;
    padding-top: 20px;
    font-size: 19.1px;
}

.card-wizard .nav-tabs .nav-item .nav-link.active {
    background: #ffffff;
    border-top-color: #f1ce33;
    border-top-style: solid;
    border-top-width: 3px;
    color: #2A2D33;
}

.card.card-wizard.wiz-fixes {
    box-shadow: none;
    /* border: none; */
    border-radius: 20px;
    border-color: #e8e2e2;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.wiz-fixes .card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
}

.wiz-fixes .card-body .nav {
    margin-top: 0px;
}

.wiz-fixes .tab-content {
    padding-left: 20px;
    padding-right: 20px;
}

img.wiz-icon {
    height: 50px;
    filter: invert(0.7);
    padding-right: 20px;
}

.card-wizard .nav-tabs .nav-item .nav-link.active .wiz-icon {
    filter: invert(0);
}

.control-label b {
    font-weight: 600;
    font-size: 13px;
    color: #7b7b7b;
}

.mapawiz {
    margin-left: 15px;
    margin-right: 15px;
    border: #e0dfdf;
    border-style: solid;
    border-width: 5px;
    padding: 0px;
}

.tab-wiz .form-group {
    background: #F7F7F7;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.card .card-body .control-label {
    color: #66696f;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 500;
}

img#pageIcon {
    max-width: 50px;
    max-height: 50px;
}

.form-check.form-check-radio {
    display: inline-block;
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
    padding-top: 0px !important;
    margin-top: -26px !important;
    color: #485f8e;
}

.tab-2-fix {
    padding-left: 0px;
    padding-right: 0px;
}

.input-group-append {
    background-color: #E3E3E3;
    color: #9c9c9c;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition: all 300ms linear;
    border-bottom-color: #E3E3E3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.form-control:focus + .input-group-append {
    background: #dcdcdc;
    border-bottom-color: #9B9B9B;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

span.input-group-text {
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Colocar input errado da cor vermelha */
.form-group.has-error {
    background: #ffe4e4;
    border-width: 2px;
    border-style: dashed;
    border-color: #f5c7c7;
}

.has-success .has-error .form-control {
    color: #565656;
}

.has-success:focus .has-error .form-control {
    color: #87CB16;
}

.has-success .has-error .form-control:focus {
    border-color: #87CB16;
}

/* Disable text dragging */
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

/* Sidebar Rota */
#sidebar-RotasGeradas ul {
    list-style-type: none;
    padding-inline-start: 10px;
    padding-inline-end: 0px;
    padding: 2px;

}

#sidebar-RotasGeradas li {
    padding-inline-start:0px;
    margin-left: 10px;
    border-top: #c1c1c1;
    padding-top: 3px;
    border-top-style: solid;
    border-top-width: 2px;
}

#sidebar-RotasGeradas > ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    background: whitesmoke;
    border-style: solid;
    border-color: #b0b2b5;
    padding: 2px;
}

#sidebar-RotasGeradas > ul > li {
    list-style-type: none;
    border: none;
    padding: 2px;
}


#sidebar-RotasGeradas input[type=checkbox], input[type=radio] {
    padding: 20px;
}

#sidebar-RotasGeradas label {
    margin-left: 5px;
    color: #423e3e;
    vertical-align: text-top;
}

span.corRota {
    height: 0.7em;
    width: 20px !important;
    padding: 2px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
}
