@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media (max-width: 1400px) 
{
	
		.firstCards{
			
		}

		#conteudo{
		width: 100%;
		height: 100vh;
		background-color: none;
		text-align: center;
		margin: 2% 4% 4% !important;
	}

	#subConteudo{
	
		margin-top: 15px !important;
		margin-bottom: 110px !important;
	}





	

	
}

@media (max-height: 100vh){
	body{background-color:black} 
}


body{font-family:  sans-serif;
     background: #fafafa;}
p{font-family:  sans-serif;
  font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.name{
	/* Ramkumar k */

	position: absolute;
	height: 25.56px;
	left: 71px;
	right: 56px;
	top: 116px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21.2963px;
	line-height: 25px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.511111px;

	color: #FFFFFF;


}
.secondCards{
				padding-top: 20px;

}

.navbar-header{
	text-align: center;
	margin-top: 7px;
	margin-bottom: 2px;

}

.firstLi li{
	margin-top:20px;
}

.options li{
	border: 1.5px solid #414550; 
	border-collapse: collapse;
}
#img-icon{
	margin: 50px;
}
#logo{
	width: 200px;
	height: 75px;
	border: 0px solid #676A73;
	border-radius: 10px;
	background-color: #676A73;
}

#logoPlace{
	position: absolute;
	width: 188px;
	height: 73px;
	left: 23px;
	top: 16px;

	background: #FFFFFF;
	opacity: 0.2;
	border-radius: 6px;
}

#userPhoto{
	/* Mask */

	position: absolute;
	height: 42px;
	left: 13px;
	right: 187px;
	top: 118.01px;
	border-radius: 50%;
	background: #D8D8D8;

}

.card{
	border: 1px solid #D0D0D0;
	box-shadow: 0px 1px 4px #E5E9F2;
	border-radius: 10px;
	height: 177px;
	width: 186.72px;
	float: left;
	position: absolute;
}
#user{
	height: 60px;
	margin-bottom: 22px;
}

#statusNet{
	position: absolute;
	height: 18px;
	left: 71px;
	right: 25px;
	top: 142px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 15.6173px;
	line-height: 18px;
	display: flex;
	align-items: flex-end;
	letter-spacing: -0.4px;

	color: #0EE17A;
}

#aluno{
	margin-left: 23px;
	margin-right: 189px;
	top: 12px;
	bottom: 12.29px;
	margin-right: 21.39px;

	background: none;
}
#motoristas{
	margin-left: 22px;
	margin-right: 184px;
	top: 13px;
	bottom: 12.05px;
	margin-right: 16.39px;
	background: none;	
}
#monitores{
	margin-left: 30px;
	right: 186px;
	top: 12.21px;
	bottom: 11.02px;
	margin-right: 18.39px;
	background: none;
}
#fornecedores{
	margin-left: 22px;
	right: 183px;
	top: 13px;
	bottom: 10.66px;
	margin-right: 15.39px;
	background: none;
}
#relatorio{
	margin-left: 27.99px;
	right: 189px;
	top: 11.03px;
	bottom: 11.03px;
	margin-right: 21.39px;
	background: none;
}

#escolas{
	margin-left: 20.31px;
	right: 186px;
	top: 13.97px;
	bottom: 14.68px;
	margin-right: 18.39px;

	background: none;
}

#rotas{
	margin-left: 20px;
	top: 11px;
	bottom: 12px;
	margin-right: 18.39px;

	background: none;
}

#frotas{
	margin-left: 20px;
	right: 180px;
	top: 18.58px;
	bottom: 16.21px;
	margin-right: 12.39px;

	background: none;
}

#servidores{
	margin-left: 22px;
	right: 182.97px;
	top: 11px;
	bottom: 11px;
	margin-right: 15.36px;

	background: none;
}


#sairDoSistema{
	position: absolute;
	width: 153px;
	height: 22px;
	left: 78px;
	top: 166px;

	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0293252);
	border-radius: 10px;
}

#txSairDoSistema{
	position: absolute;
	width: 124px;
	height: 16px;
	left: 110px;
	top: 169px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px !important;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.336px;

	color: #2A2D33;

}

#leftArrow{
	position: absolute;
	left: 87px;
	right: 144px;
	top: 171px;
	bottom: 84.58%;

	background: #fff;


}


.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

.line{
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.subMenu{

	background-color: #414550 !important;

}

#atalho-rapido { width: 600px; }
#atalho-rapido2 { width: 250px; margin: 0 auto; }

#sidebar {
    min-width: 270px;
    width: 270px;
    height: 130vh !important;
    background: #414550;
    color: #fff;
    transition: all 0.3s;

}
#sidebar.active{
	margin-left: -250px;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #414550;
}
#sidebar ul.components{
	padding: 20px 0px;

}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
	background-color: #464a56;

}
#sidebar ul li a:hover {
    color: #414550;
    background: #576071;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #576071;
}
a[data-toggle="collapse"] {
    position: relative;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebarIcons{
	font-size: 30px !important;
	margin-right: 15px;
}

#conteudo{
	width: 100%;
	height: 100vh;
	background-color: none;
	text-align: center;
	margin: 5% 15% 5% 5%;
}

#subConteudo{
	
	margin-top: 21px;
	margin-bottom: 150px;
}

#subConteudo2{
	margin-top: 21px;
	margin-bottom: 46px;
}

#subConteudo3{
	margin-top: 25px;
}

#conteudo-meio2{
	margin-top: 203px;
}

.textCard{
	padding-left: 26.6px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	font-size: 15px;
	line-height: 16px;
	display: flex;
	align-items: center;
	letter-spacing: -0.336px;

	color: #2A2D33;
}

#cadastroAluno{
	padding-bottom: 10px;
}

#informacaoGeralImg{
	margin-top: 242px;
}

#lupa{
	padding-bottom: 10px;
}

#atalhoImg{
	margin-right: 16px;
	margin-top: -10px;
}

.centerAlign{
	margin: 0 auto;
}

.cardLink:hover{
	background-color: gray;

}

#atalhosRapidos{
	width: 233px;
	height: 32px;
	left: calc(50% - 233px/2 + 148.5px);
	top: 62px;


	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	/* identical to box height, or 100% */

	/* #PretoPri */
	color: #2C343B;
}

#informacaoGeralImg{
	margin-right: 16px;
	margin-top: -10px;
}
#informacaoGeral{
	width: 233px;
	height: 32px;
	left: calc(50% - 233px/2 + 148.5px);
	top: 62px;


	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	/* identical to box height, or 100% */

	/* #PretoPri */
	color: #2C343B;
}



ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background: #576071 !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}